/* ========== general styles ========== */
button { font-size: 20px; }

/* ========== modal ========== */
.modal {
  position: fixed;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  padding: 10px;
  box-shadow:
        inset
              0 -3em 3em rgba(240, 255, 0, 0.3),
              0 0 0 2px rgb(255, 0, 255, 0.1),
              2em 2em 3em rgba(0,0,0,0.4);
  border-radius: 0.5em;
}

/* ========== start page ========== */
div#start-page {
  display: flex;
  flex-direction: column;
}

/* ===== general page styles ===== */
.left-column {

}

.right-column {

}


/* ===== pages 1 - ?  ===== */
div#page-one {
  display: none;
  border-radius: solid red;
}

div#page-two {
  display: none;
}

div#page-three {
  display: none;
}

div#page-four {
  display: none;
}

div#end {
  display: none;
}


/* .second {
  overflow: scroll;
  height: 150px;
  padding: 0 10px 0 10px;
  margin: 0px 5px 50px 5px;
}

.third {
  margin: 50px 0 0 0;
}

/* ===== right column ===== */
/* .right-column {
  display: flex;
  flex-direction: column;
  } */


/* .fourth {
  overflow: scroll;
  height: 150px;
  padding: 0 10px 0 10px;
  margin: 0px 5px 50px 5px;
} */



/* ========== death ==========
     _____
    ( O o )
    /  O  \
   /       \
   ~~~~~~~~~
*/
