/* ========== fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Truculenta&display=swap');


/* ========== general styles ========== */
body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/57902faa59cc68a958c59c03/1622556972204-MP5HKRA6LQD3ZL0B8VOT/ke17ZwdGBToddI8pDm48kK76DcT2UKzlsgAB1sYMl8dZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIJ5trr0ZlpgWWCd4-RPFhluVNSwHIILnHrRty2DN_9s8KMshLAGzx4R3EDFOm1kBS/tri-foil-background.jpg?format=750w");
  background-size: 200px;
}

h2 { font-family: 'Truculenta', sans-serif; }

p { font-family: 'Roboto', sans-serif; }

/* ---------- buttons ---------- */
button {
  background: transparent;
  color: rgba(255, 0, 255, 0.5);
  border: 2px solid rgba(248, 148, 6, 1);
  font-size: 15px;
  letter-spacing: 2px;
  padding: 5px 15px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  /* ----- transitions ----- */
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

button:hover {
  background-color: rgba(248, 148, 6, 1);
  color: black;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

button.restart-button { margin-left: 100px; }

/* ---------- title image ---------- */
.title-text { margin: -12px 0 -30px 0; }

/* ---------- list of items ---------- */
.item {
  color: magenta;
  font-family: 'Truculenta', sans-serif;
  font-size: 14pt;
}

.item:hover {
  text-transform: capitalize;
  transition: .2s;
  font-size: 15pt;
}

ul { list-style: none; }

li { font-family: 'Roboto', sans-serif; }


/* ========== modal ========== */
.modal {
  background: url("https://images.squarespace-cdn.com/content/v1/57902faa59cc68a958c59c03/1622584442688-HNKRA9SLEEJ3DWLALGI0/ke17ZwdGBToddI8pDm48kM36lrdCqgKFbsOGgm6HJ9AUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcTQcG_YJbZS5BgvSnY_Zd4l-a0BiZ7y8fyaPae9lwgRs089mQi5z3JPI7CgWfGEkZ/splatter-model-background.jpg?format=1000w");
  background-color: white;
  position: fixed;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  padding: 10px;
  box-shadow:
  inset
  0 -3em 3em rgba(240, 255, 0, 0.3),
  0 0 0 2px rgba(255, 0, 255, 0.1),
  2em 2em 3em rgba(0,0,0,0.4);
  border-radius: 0.5em;
}

/* ========== start page ========== */
div#start-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 380px;
}

div#start-page > div.title-sector > img.title {
  height: 300px;
  margin-top: -50px;
}

div.content-sector {
  margin-bottom: 40px;
  padding: 0 20px 0 20px;
}


/* ===== pages 1 - 10 ===== */
div#page-one {
  display: none;
  flex-direction: row;
  height: 380px;
}


/* ===== column styles ===== */
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* <---------- left column items <---------- */
div.first {
  background: linear-gradient(rgba(207, 0, 15, 0.8), rgba(255,255,255, 1));
  margin: 5px 0 10px 5px;
  padding: 0 50px 5px 50px;
}

.final-dose {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 10px;
  margin-bottom: 10px;
}

div.second {
  padding: 5px 20px 2px 5px;
  margin-left: 5px;
  border: 1px solid rgba(255, 0, 255, 0.3);
  border-radius: 0.5em;
  box-shadow: 1em 1em 0 2px rgba(82, 179, 217, 0.3);
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 255, 0.5),
    rgba(255, 0, 255, 0.5) 20px,
    rgba(240, 255, 0, 0.5) 20px,
    rgba(240, 255, 0, 0.5) 40px
    );
  }

  /* ----------> right column items ----------> */
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  div.fourth {
    height: 90%;
    margin: 5px 5px 15px 40px;
    padding: 0 15px 0 15px;
    background: linear-gradient(rgba(244, 179, 80, 1), rgba(255,255,255, 1));
    overflow: scroll;
  }

  div.fifth {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    padding-left: 80px;
    justify-content: space-between;
    align-items: flex-end;
  }
